<a href="https://colab.research.google.com/github/AlexxLai/ml0716/blob/master/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 1s 0us/step

In [5]:
import os
import glob
import pandas as pd
def getdata(mid):
    dn = os.path.dirname(dataset)
    posfn = glob.glob(os.path.join(dn, "aclImdb", mid, "pos", "*"))
    negfn = glob.glob(os.path.join(dn, "aclImdb", mid, "neg", "*"))
    contents = []
    for fn in posfn + negfn:
        with open(fn, encoding="utf-8") as f:
            contents.append(f.read())
    df = pd.DataFrame({
        "content":contents,
        "sentiment":[1] * len(posfn) + [0] * len(negfn)
    })
    return df

In [6]:
train_df = getdata("train")
test_df = getdata("test")

In [7]:
train_df

                                                 content  sentiment
0      McConaughey in a horror/thriller? I had to see...          1
1      John Carpenter's Halloween<br /><br />Is it th...          1
2      Plot is never the strong point of a Fred Astai...          1
3      The House of the Spirits is a gripping tale of...          1
4      I loved this movie. It is a definite inspirati...          1
...                                                  ...        ...
24995  Between 1937 and 1939, Twentieth Century-Fox m...          0
24996  Some might scoff, but there is actually a real...          0
24997  If you look at Corey Large's information here ...          0
24998  <br /><br />Worst. Movie. Ever.<br /><br />Wha...          0
24999  When you wish for the dragon to eat every cast...          0

[25000 rows x 2 columns]

In [11]:
# Tokenizer: 轉換成數字
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["content"])

In [ ]:
# 0不要用掉,0是用來padding
tok.word_index

In [12]:
# sequences: 數字序列
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         8     3   186   705    10    66  ...   NaN   NaN   NaN   NaN   NaN   NaN
1       304  2186     7     7     6     9  ...   NaN   NaN   NaN   NaN   NaN   NaN
2       111     6   112     1   562   210  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         1   310     4     1     6     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        10   444    11    17     9     6  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995   197     2  1114  1675    90     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    46   235    18    47     6   162  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    44    22   165    30  1616   130  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998     7     7   246    17   123     7  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    51    22   654    15     1  2786  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [30]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen = 512)
x_test_pad = pad_sequences(x_test_seq, maxlen = 512)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    6    ...  505   506   507   508   509  510  511
0        0    0    0    0    0    0    0  ...    2     3   330    39    57  837  825
1        0    0    0    0    0    0    0  ...    1   830   186   105     4   29   55
2        0    0    0    0    0    0    0  ...   97   103     1   687   117    2  117
3        0    0    0    0    0    0    0  ...  758  1777     5     1  1203  322  838
4        0    0    0    0    0    0    0  ...   17    10   103     9  1939   10   67
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...  ...
24995    0    0    0    0    0    0    0  ...   25    74     8     1   175   39    8
24996    0    0    0    0    0    0    0  ...   36   377     5  1360    89   64    9
24997    0    0    0    0    0    0    0  ...    1   522   393    13   181   18   21
24998    0    0    0    0    0    0    0  ...    1  1029  1227     7     7  297  155
24999    0    0    0    0    0    0    0  ...   12    89   435   126    55    2  275

[25000 rows x 512 columns]

In [31]:
import numpy as np
y_train = np.array(train_df["sentiment"])
y_test = np.array(test_df["sentiment"])

In [32]:
from tensorflow.keras.layers import Dense, Flatten, Dropout
from tensorflow.keras.layers import Embedding
from tensorflow.keras.models import Sequential
INPUT_DIM = 3001
OUTPUT_DIM = 128
INPUT_LENGTH = 512
layers = [
    Embedding(INPUT_DIM, OUTPUT_DIM, mask_zero=True, input_length=INPUT_LENGTH),
    Flatten(),
    Dense(256, activation="relu"),
    Dropout(0.25),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 512, 128)          384128
_________________________________________________________________
flatten_2 (Flatten)          (None, 65536)             0
_________________________________________________________________
dense_4 (Dense)              (None, 256)               16777472
_________________________________________________________________
dropout_2 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 514
=================================================================
Total params: 17,162,114
Trainable params: 17,162,114
Non-trainable params: 0
_________________________________________________________________

In [33]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer="adam",
       metrics=["accuracy"])

In [34]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    ModelCheckpoint("embedding.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)       
]
model.fit(x_train_pad, 
     y_train, 
     batch_size=200,
     validation_split=0.1,
     epochs=50,
     verbose=2,
     callbacks=callbacks)

Epoch 1/50
113/113 - 4s - loss: 0.7014 - accuracy: 0.5911 - val_loss: 0.6433 - val_accuracy: 0.6232
Epoch 2/50
113/113 - 4s - loss: 0.3238 - accuracy: 0.8637 - val_loss: 0.3630 - val_accuracy: 0.8388
Epoch 3/50
113/113 - 4s - loss: 0.1731 - accuracy: 0.9387 - val_loss: 0.3470 - val_accuracy: 0.8648
Epoch 4/50
113/113 - 4s - loss: 0.0693 - accuracy: 0.9810 - val_loss: 0.4698 - val_accuracy: 0.8416
Epoch 5/50
113/113 - 4s - loss: 0.0167 - accuracy: 0.9975 - val_loss: 0.4504 - val_accuracy: 0.8736
Epoch 6/50
113/113 - 4s - loss: 0.0045 - accuracy: 0.9997 - val_loss: 0.7590 - val_accuracy: 0.8288
Epoch 7/50
113/113 - 4s - loss: 0.0015 - accuracy: 0.9999 - val_loss: 0.6945 - val_accuracy: 0.8520
Epoch 8/50
113/113 - 4s - loss: 6.7201e-04 - accuracy: 1.0000 - val_loss: 0.9879 - val_accuracy: 0.8108

In [35]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.3111 - accuracy: 0.8745

[0.31105536222457886, 0.8744800090789795]