<a href="https://colab.research.google.com/github/AlexxLai/ml0716/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
# from google.colab import files
# files.upload()   # upload kaggle.json
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/

In [74]:
# !kaggle competitions download -c titanic

In [92]:
# 若上述無法使用，這使用此部分程式碼
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ml0716/raw/master/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ml0716/raw/master/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7fb623c84710>)

In [93]:
import pandas as pd
train_df = pd.read_csv("train.csv",encoding = "utf-8")
test_df = pd.read_csv("test.csv",encoding = "utf-8")
# train_df
# test_df

In [94]:
# concat: 將兩個dataframe統整在一起
# concat的axis:0[把行合併在一起↓]；1[把列合併在一起→]
datas = pd.concat([train_df,test_df])
datas = datas.drop(["PassengerId","Survived"],axis=1) # drop:捨去不必要的欄位,axis=1行捨去
datas

     Pclass                                               Name  ... Cabin  Embarked
0         3                            Braund, Mr. Owen Harris  ...   NaN         S
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2         3                             Heikkinen, Miss. Laina  ...   NaN         S
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4         3                           Allen, Mr. William Henry  ...   NaN         S
..      ...                                                ...  ...   ...       ...
413       3                                 Spector, Mr. Woolf  ...   NaN         S
414       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
415       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
416       3                                Ware, Mr. Frederick  ...   NaN         S
417       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [95]:
# Step1. 補缺失值
# isna(): False: 有值, True: 有缺失值
s = datas.isna().sum() # Cabin缺失值太多(趨近資料集總數)，因此選擇補次多的Age、Fare...
# 篩選 seires[[True...]]，將值是True的以Series列出來
s[s > 0]
# Step2. 類型判斷(打開csv確認class)
# 數字(大小): Age,SibSp,Parch,Fare
# 類型(固定種類): Pclass,Name,Sex,Embarked

Age          263
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [96]:
# 預處理
# 1.補缺失值: 類型:補最常(可能)出現/不補(直接One-Hot: 補0)
# most = datas["Embarked"].value_counts() # 因為結果出來出來發現S最多，因此補S(最常/最有可能)出現
most = datas["Embarked"].value_counts().idxmax() # 與下段結果相同idxmax→index的max值
datas["Embarked"] = datas["Embarked"].fillna(most) # 將最(常出現/可能)的值補進去資料裡，因此是S

In [97]:
# 1.補缺失值: 數值:補最可能的值(找中位數)，因為找平均值的話會受到極端值的影響
med = datas.median().drop(["Pclass"]) # 在先前處理class時，經由確認後知道Pclass是類型而非數值
datas = datas.fillna(med)
datas.isna().sum()

Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin       1014
Embarked       0
dtype: int64

In [81]:
# eg.要抓取Mr. Miss等比較好做分類的關鍵字
# n = "Myles, Mr. Thomas Francis"
# split(",")[-1]是以分割符號為基準，保留符號後最後一段
# n = n.split(",")
# n = n.split(",")[-1]
# n = n.split(",")[-1].split(".")
# n = n.split(",")[-1].split(".")[0]
# n.strip() # 此語法可以將左右所有的空白全部剃除
# n

In [98]:
# 2. One-Hot(類別)
# 類別型態"絕對"不能轉為0,1,2...的形式(超過2種以上，類別沒有大小關係)，邏輯出現問題
#   S C Q
# S 1 0 0
# C 0 1 0
# Q 0 0 1
# 此為One-Hot 的形式

# 先處理name跟ticket
# name裡面,跟.(因為都有)，拿來做處理
def name(n):
    n = n.split(",")[-1].split(".")[0]
    return n.strip() # 此語法可以將左右所有的空白全部剃除
v = datas["Name"].apply(name).value_counts() # value_counts()此語法自動排序由值高至值低
white = v.index[:4] # 將數值太少的去除(重要度/顯著程度不高)

In [99]:
def name(n):
    n = n.split(",")[-1].split(".")[0]
    n = n.strip()
    if n in white:
        return n
    else:
        return None
datas["Name"] = datas["Name"].apply(name)
datas

     Pclass    Name     Sex   Age  ...              Ticket      Fare Cabin  Embarked
0         3      Mr    male  22.0  ...           A/5 21171    7.2500   NaN         S
1         1     Mrs  female  38.0  ...            PC 17599   71.2833   C85         C
2         3    Miss  female  26.0  ...    STON/O2. 3101282    7.9250   NaN         S
3         1     Mrs  female  35.0  ...              113803   53.1000  C123         S
4         3      Mr    male  35.0  ...              373450    8.0500   NaN         S
..      ...     ...     ...   ...  ...                 ...       ...   ...       ...
413       3      Mr    male  28.0  ...           A.5. 3236    8.0500   NaN         S
414       1    None  female  39.0  ...            PC 17758  108.9000  C105         C
415       3      Mr    male  38.5  ...  SOTON/O.Q. 3101262    7.2500   NaN         S
416       3      Mr    male  28.0  ...              359309    8.0500   NaN         S
417       3  Master    male  28.0  ...                2668   22.3583   NaN         C

[1309 rows x 10 columns]

In [100]:
v = datas["Ticket"].value_counts()
# v
def ticket(t):
    global v
    return v[t]
datas["Ticket"].apply(ticket)

0      1
1      2
2      1
3      2
4      1
      ..
413    1
414    3
415    1
416    1
417    3
Name: Ticket, Length: 1309, dtype: int64

In [101]:
datas = datas.drop(["Cabin"],axis = 1)

In [102]:
# 如果想要重製index: datas.reset_index(drop=True)
datas

     Pclass    Name     Sex   Age  ...  Parch              Ticket      Fare  Embarked
0         3      Mr    male  22.0  ...      0           A/5 21171    7.2500         S
1         1     Mrs  female  38.0  ...      0            PC 17599   71.2833         C
2         3    Miss  female  26.0  ...      0    STON/O2. 3101282    7.9250         S
3         1     Mrs  female  35.0  ...      0              113803   53.1000         S
4         3      Mr    male  35.0  ...      0              373450    8.0500         S
..      ...     ...     ...   ...  ...    ...                 ...       ...       ...
413       3      Mr    male  28.0  ...      0           A.5. 3236    8.0500         S
414       1    None  female  39.0  ...      0            PC 17758  108.9000         C
415       3      Mr    male  38.5  ...      0  SOTON/O.Q. 3101262    7.2500         S
416       3      Mr    male  28.0  ...      0              359309    8.0500         S
417       3  Master    male  28.0  ...      1                2668   22.3583         C

[1309 rows x 9 columns]

In [103]:
datas = pd.get_dummies(datas)
datas

     Pclass   Age  SibSp  ...  Embarked_C  Embarked_Q  Embarked_S
0         3  22.0      1  ...           0           0           1
1         1  38.0      1  ...           1           0           0
2         3  26.0      0  ...           0           0           1
3         1  35.0      1  ...           0           0           1
4         3  35.0      0  ...           0           0           1
..      ...   ...    ...  ...         ...         ...         ...
413       3  28.0      0  ...           0           0           1
414       1  39.0      0  ...           1           0           0
415       3  38.5      0  ...           0           0           1
416       3  28.0      0  ...           0           0           1
417       3  28.0      1  ...           1           0           0

[1309 rows x 943 columns]

In [104]:
# iloc: 取列(依實際是第幾列), loc:(依列編號)
# [第一列,第二列...]
x_train = datas.iloc[:len(train_df)]
x_predict = datas.iloc[len(train_df):]
y_train = train_df["Survived"]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
clf = RandomForestClassifier(random_state=0)
params = {
    "n_estimators":range(20, 100),
    "max_depth":range(5, 10)
}
search = GridSearchCV(clf, params, cv=10, n_jobs=-1)
search.fit(x_train, y_train)
print(search.best_params_)
print(search.best_score_)

In [105]:
# 組合式模型
# 1.平行式(Bagging)
# 2.序列式(Boosting):一直去比照"前"一個模型做調整 eg.D→clf1→對+0.5/錯-4→clf2→對+0.5/錯-4→clf3→......

# 隨機森林(基底為決策樹演算法): 在每個clf中，隨機放棄一點資料，使每個clf略有不同
# n_estimators
# max_depth

# 交叉驗證(Cross validation): 將一份資料切成若干等份，相互訓練驗證

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np
clf = RandomForestClassifier(n_estimators=25,max_depth=7,random_state=0) # random_state=0使隨機的方式每次都固定
scores = cross_val_score(clf,x_train,y_train,cv=10,n_jobs=-1) # n_jobs=-1 使用電腦裡面最多核心一起跑動 eg.雙核跑2 四核跑4
print(scores)
print(np.average(scores))

[0.84444444 0.80898876 0.78651685 0.86516854 0.80898876 0.75280899
 0.78651685 0.75280899 0.84269663 0.85393258]
0.810287141073658

In [106]:
# 測試出來此值相對效果佳n_estimators=77, max_depth=7
clf = RandomForestClassifier(n_estimators=77, max_depth=7)
clf.fit(x_train, y_train)
pre = clf.predict(x_predict)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("titanic_rf.csv", encoding="utf-8", index=False)
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [107]:
"Importance":clf.feature_importances_

array([6.67375572e-02, 3.06664565e-02, 2.11550394e-02, 1.83109763e-02,
       7.18690111e-02, 7.93179783e-03, 4.18212351e-02, 1.32400856e-01,
       6.66562993e-02, 1.17588244e-01, 1.18715751e-01, 2.21443764e-03,
       3.17478053e-04, 1.51246619e-04, 0.00000000e+00, 0.00000000e+00,
       1.14629231e-04, 1.52651346e-05, 0.00000000e+00, 1.90472978e-04,
       0.00000000e+00, 1.62295313e-03, 8.91760325e-04, 3.91843986e-04,
       0.00000000e+00, 5.59934228e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.80654295e-05, 0.00000000e+00, 2.50534058e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 5.98288945e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.38566599e-05, 0.00000000e+00,
       5.30752583e-04, 9.75325680e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.47704819e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.81054433e-03, 6.16419972e-03, 0.00000000e+00,
       2.87091080e-05, 1.04290883e-03, 0.00000000e+00, 0.00000000e+00,
       1.00488652e-03, 8.24496034e-05, 0.00000000e+00, 1.07411962e-03,
       0.00000000e+00, 2.74826389e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 5.29647627e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.64986602e-05, 0.00000000e+00,
       6.90211432e-08, 1.02569349e-03, 2.53692447e-03, 0.00000000e+00,
       4.14189246e-04, 7.37664273e-04, 7.23340733e-04, 3.17458600e-03,
       8.37933857e-04, 1.14955854e-04, 4.62188788e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       5.31451610e-05, 7.20357531e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 9.89300112e-04, 1.92999446e-04, 0.00000000e+00,
       0.00000000e+00, 1.44945207e-03, 0.00000000e+00, 5.20147132e-03,
       2.73386141e-05, 0.00000000e+00, 5.99918288e-07, 1.10707870e-03,
       9.79717516e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.16090674e-05, 1.53749375e-03, 0.00000000e+00, 1.01434443e-02,
       2.31799047e-03, 6.82406149e-04, 1.19792114e-03, 4.24349876e-04,
       0.00000000e+00, 1.08372197e-03, 1.46017911e-05, 2.41684242e-03,
       9.86011208e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 7.13440151e-04, 0.00000000e+00, 0.00000000e+00,
       1.56880503e-03, 1.22650715e-04, 3.85887269e-04, 1.75861098e-04,
       0.00000000e+00, 9.25952375e-04, 2.17117332e-03, 2.90214560e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 4.44028131e-04, 0.00000000e+00, 1.71471546e-04,
       0.00000000e+00, 2.49412366e-04, 0.00000000e+00, 0.00000000e+00,
       4.34720023e-04, 1.65768297e-03, 6.09028747e-03, 2.39809744e-04,
       2.84482730e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.22397103e-04, 4.36302519e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.44294735e-05,
       1.07216066e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.84793666e-05, 0.00000000e+00, 3.21681158e-04, 0.00000000e+00,
       0.00000000e+00, 1.05484416e-04, 0.00000000e+00, 3.29708223e-04,
       0.00000000e+00, 6.28317265e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 8.16738877e-06, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.69985953e-04, 2.29536074e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.05363219e-04, 1.90948716e-04,
       1.48232346e-04, 1.22371131e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 8.29754392e-05, 0.00000000e+00,
       4.53730334e-04, 0.00000000e+00, 3.93123552e-04, 1.40845073e-04,
       5.85070158e-06, 0.00000000e+00, 4.00404343e-04, 8.57610032e-05,
       0.00000000e+00, 0.00000000e+00, 2.68134607e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 5.60183701e-04, 0.00000000e+00,
       3.74942005e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       4.62290167e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.17037259e-04, 0.00000000e+00,
       2.30345370e-04, 0.00000000e+00, 2.58313543e-04, 0.00000000e+00,
       0.00000000e+00, 1.71847109e-04, 1.67457922e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 5.53910126e-04,
       3.94219749e-04, 0.00000000e+00, 3.18397176e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.87086225e-05, 0.00000000e+00, 2.82736643e-03, 5.78779298e-05,
       2.74255948e-03, 7.48757671e-05, 1.53002173e-03, 2.65221847e-03,
       4.84533219e-05, 3.20645689e-04, 3.91697586e-06, 0.00000000e+00,
       9.52907614e-05, 0.00000000e+00, 1.47018403e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 9.75789251e-04,
       7.58757469e-04, 0.00000000e+00, 6.40426415e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.08932692e-05,
       2.19550978e-04, 0.00000000e+00, 0.00000000e+00, 1.47495229e-04,
       2.51654834e-04, 7.40026931e-04, 0.00000000e+00, 0.00000000e+00,
       1.38938757e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 6.14749302e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.23164609e-03, 0.00000000e+00, 0.00000000e+00, 7.55490352e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.08882964e-04,
       6.68068796e-04, 1.25390994e-04, 0.00000000e+00, 2.60729624e-05,
       4.61093082e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       5.54950411e-04, 0.00000000e+00, 0.00000000e+00, 2.27369118e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.70713195e-04, 1.05701524e-04, 1.95878136e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.92703187e-04, 0.00000000e+00,
       1.57586149e-03, 0.00000000e+00, 0.00000000e+00, 1.61154940e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 8.12987073e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.97054241e-04,
       0.00000000e+00, 1.68154963e-03, 0.00000000e+00, 0.00000000e+00,
       3.67025017e-04, 0.00000000e+00, 0.00000000e+00, 3.00084971e-06,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.80695733e-04, 0.00000000e+00, 0.00000000e+00,
       2.99121164e-03, 0.00000000e+00, 9.53235620e-04, 0.00000000e+00,
       6.55743406e-04, 6.08410991e-05, 1.11931534e-04, 0.00000000e+00,
       4.62747201e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.07017026e-05, 1.78247129e-04, 1.43106686e-05,
       0.00000000e+00, 0.00000000e+00, 1.02479138e-04, 0.00000000e+00,
       0.00000000e+00, 2.05150670e-04, 0.00000000e+00, 0.00000000e+00,
       9.84539111e-05, 0.00000000e+00, 7.45786204e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.38771268e-04,
       1.36234213e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.73648400e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.18566025e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.94633895e-04, 0.00000000e+00, 3.05236644e-06,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.27135451e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.13801686e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.91625349e-06, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.23380267e-03, 1.90317698e-05, 0.00000000e+00,
       2.53308528e-04, 0.00000000e+00, 6.09393394e-03, 0.00000000e+00,
       9.19511112e-04, 0.00000000e+00, 3.95990608e-04, 4.22661484e-03,
       3.68758628e-04, 0.00000000e+00, 0.00000000e+00, 2.67654383e-06,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       3.77614916e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 5.91756674e-06,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.73890880e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.98598601e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.90882429e-04, 1.42022919e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.71781964e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.70103843e-04, 0.00000000e+00, 4.13895825e-04, 0.00000000e+00,
       2.53444434e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.13484464e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       4.81219854e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.40729612e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.90175777e-05,
       0.00000000e+00, 8.40446267e-05, 4.34543376e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.02603382e-03,
       2.82465478e-04, 2.49899696e-04, 1.98360059e-03, 2.40618987e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.96832797e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.96753545e-05,
       0.00000000e+00, 3.34231115e-04, 5.87639509e-04, 9.29633088e-04,
       1.43778562e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.25378409e-05, 1.09599018e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.04209062e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.67987693e-03,
       2.46702011e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 5.82055633e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 4.71020088e-04, 1.90971895e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.31454977e-03,
       0.00000000e+00, 0.00000000e+00, 3.10980616e-04, 2.21542690e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       6.11117896e-04, 0.00000000e+00, 4.44323942e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 6.44574330e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 5.17850940e-04, 5.62760620e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.85943054e-04, 1.18261898e-03, 0.00000000e+00, 0.00000000e+00,
       3.16835995e-03, 0.00000000e+00, 1.62588196e-03, 1.72364369e-04,
       3.19377208e-04, 6.46490892e-05, 4.22164697e-04, 1.95251705e-04,
       0.00000000e+00, 7.73599189e-06, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 5.09813409e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.29459761e-04, 0.00000000e+00,
       3.05763677e-04, 3.08041722e-04, 1.65118672e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.99902009e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.07159200e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.02150709e-04, 0.00000000e+00,
       0.00000000e+00, 2.52089531e-04, 4.32285966e-04, 0.00000000e+00,
       1.45250830e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.03011507e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.70908633e-04, 0.00000000e+00, 1.66203097e-05,
       0.00000000e+00, 0.00000000e+00, 3.36767885e-05, 0.00000000e+00,
       1.49414557e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 4.22914223e-04, 0.00000000e+00, 0.00000000e+00,
       2.79793243e-04, 0.00000000e+00, 6.48344390e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 8.30808786e-05,
       1.94383572e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 3.40364981e-03, 0.00000000e+00,
       3.04485125e-04, 3.77533746e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.84527674e-04, 3.55660443e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.43868111e-04, 0.00000000e+00, 1.09622435e-04, 1.35305882e-03,
       5.27946666e-04, 3.93136238e-04, 6.36090397e-04, 2.54425332e-04,
       0.00000000e+00, 2.26918897e-03, 0.00000000e+00, 4.85749919e-04,
       0.00000000e+00, 5.10096581e-04, 3.98286220e-03, 0.00000000e+00,
       5.23212124e-04, 5.46463896e-04, 3.29680053e-05, 0.00000000e+00,
       1.59278077e-04, 1.78244986e-05, 0.00000000e+00, 3.41477270e-04,
       0.00000000e+00, 3.22225653e-04, 0.00000000e+00, 5.87879058e-04,
       0.00000000e+00, 7.44840907e-05, 4.88913060e-05, 8.13501685e-04,
       5.26450885e-04, 0.00000000e+00, 0.00000000e+00, 2.98817110e-03,
       0.00000000e+00, 0.00000000e+00, 9.21849965e-04, 2.15331665e-04,
       0.00000000e+00, 1.18118873e-05, 2.87808871e-03, 1.70708456e-07,
       6.72417370e-04, 2.19501733e-04, 8.60974497e-04, 1.10364500e-06,
       0.00000000e+00, 0.00000000e+00, 3.27213902e-03, 0.00000000e+00,
       5.81430117e-04, 0.00000000e+00, 0.00000000e+00, 5.99359739e-04,
       0.00000000e+00, 0.00000000e+00, 6.78093044e-04, 4.17860573e-04,
       0.00000000e+00, 5.77440708e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.67064673e-04,
       0.00000000e+00, 0.00000000e+00, 4.51632552e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.19914037e-04,
       3.18729047e-04, 0.00000000e+00, 3.18076078e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.98421704e-06,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 6.73902578e-04,
       2.63891711e-04, 1.02770168e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.62087682e-06, 1.64959687e-03, 0.00000000e+00,
       0.00000000e+00, 3.99590323e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.60462176e-04, 5.24067473e-04,
       3.35502177e-04, 1.03590525e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.83490571e-04,
       1.22554089e-03, 1.69372699e-04, 1.76962874e-04, 0.00000000e+00,
       0.00000000e+00, 1.98815774e-04, 4.21086512e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 9.67748616e-04, 2.14381508e-03,
       4.78180158e-04, 0.00000000e+00, 0.00000000e+00, 1.39016287e-05,
       2.22486254e-02, 3.19372617e-03, 1.35120465e-02])

In [69]:
# Min-Max演算法
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
datas_scale = pd.DataFrame(scaler.fit_transform(datas), columns=datas.columns)
x_train_scale = datas_scale.iloc[:len(train_df)]
x_predict_scale = datas_scale.iloc[len(train_df):]

In [70]:
# KNN演算法
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
params = {
    "n_neighbors":range(5, 100)
}
search = GridSearchCV(clf, params, cv=10, n_jobs=-1)
search.fit(x_train_scale, y_train)
print(search.best_params_)
print(search.best_score_)

{'n_neighbors': 22}
0.8204868913857679

In [71]:
clf = search.best_estimator_
pre = clf.predict(x_predict_scale)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("titanic_knn.csv", encoding="utf-8", index=False)
df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]