<a href="https://colab.research.google.com/github/AlexxLai/ml0716/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# from google.colab import files
# files.upload()   # upload kaggle.json
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/

In [ ]:
# !kaggle competitions download -c titanic

In [ ]:
# 若上述無法使用，這使用此部分程式碼
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ml0716/raw/master/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ml0716/raw/master/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7fb623c84710>)

In [ ]:
import pandas as pd
train_df = pd.read_csv("train.csv",encoding = "utf-8")
test_df = pd.read_csv("test.csv",encoding = "utf-8")
# train_df
# test_df

In [ ]:
# concat: 將兩個dataframe統整在一起
# concat的axis:0[把行合併在一起↓]；1[把列合併在一起→]
datas = pd.concat([train_df,test_df])
datas = datas.drop(["PassengerId","Survived"],axis=1) # drop:捨去不必要的欄位,axis=1行捨去
datas

     Pclass                                               Name  ... Cabin  Embarked
0         3                            Braund, Mr. Owen Harris  ...   NaN         S
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2         3                             Heikkinen, Miss. Laina  ...   NaN         S
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4         3                           Allen, Mr. William Henry  ...   NaN         S
..      ...                                                ...  ...   ...       ...
413       3                                 Spector, Mr. Woolf  ...   NaN         S
414       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
415       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
416       3                                Ware, Mr. Frederick  ...   NaN         S
417       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [ ]:
# Step1. 補缺失值
# isna(): False: 有值, True: 有缺失值
s = datas.isna().sum() # Cabin缺失值太多(趨近資料集總數)，因此選擇補次多的Age、Fare...
# 篩選 seires[[True...]]，將值是True的以Series列出來
s[s > 0]
# Step2. 類型判斷(打開csv確認class)
# 數字(大小): Age,SibSp,Parch,Fare
# 類型(固定種類): Pclass,Name,Sex,Embarked

Age          263
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [ ]:
# 預處理
# 1.補缺失值: 類型:補最常(可能)出現/不補(直接One-Hot: 補0)
# most = datas["Embarked"].value_counts() # 因為結果出來出來發現S最多，因此補S(最常/最有可能)出現
most = datas["Embarked"].value_counts().idxmax() # 與下段結果相同idxmax→index的max值
datas["Embarked"] = datas["Embarked"].fillna(most) # 將最(常出現/可能)的值補進去資料裡，因此是S

In [ ]:
# 1.補缺失值: 數值:補最可能的值(找中位數)，因為找平均值的話會受到極端值的影響
med = datas.median().drop(["Pclass"]) # 在先前處理class時，經由確認後知道Pclass是類型而非數值
datas = datas.fillna(med)
datas.isna().sum()

Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin       1014
Embarked       0
dtype: int64

In [ ]:
# eg.要抓取Mr. Miss等比較好做分類的關鍵字
# n = "Myles, Mr. Thomas Francis"
# split(",")[-1]是以分割符號為基準，保留符號後最後一段
# n = n.split(",")
# n = n.split(",")[-1]
# n = n.split(",")[-1].split(".")
# n = n.split(",")[-1].split(".")[0]
# n.strip() # 此語法可以將左右所有的空白全部剃除
# n

In [ ]:
# 2. One-Hot(類別)
# 類別型態"絕對"不能轉為0,1,2...的形式(超過2種以上，類別沒有大小關係)，邏輯出現問題
#   S C Q
# S 1 0 0
# C 0 1 0
# Q 0 0 1
# 此為One-Hot 的形式

# 先處理name跟ticket
# name裡面,跟.(因為都有)，拿來做處理
def name(n):
    n = n.split(",")[-1].split(".")[0]
    return n.strip() # 此語法可以將左右所有的空白全部剃除
v = datas["Name"].apply(name).value_counts() # value_counts()此語法自動排序由值高至值低
white = v.index[:4] # 將數值太少的去除(重要度/顯著程度不高)

In [ ]:
def name(n):
    n = n.split(",")[-1].split(".")[0]
    n = n.strip()
    if n in white:
        return n
    else:
        return None
datas["Name"] = datas["Name"].apply(name)
datas

     Pclass    Name     Sex   Age  ...              Ticket      Fare Cabin  Embarked
0         3      Mr    male  22.0  ...           A/5 21171    7.2500   NaN         S
1         1     Mrs  female  38.0  ...            PC 17599   71.2833   C85         C
2         3    Miss  female  26.0  ...    STON/O2. 3101282    7.9250   NaN         S
3         1     Mrs  female  35.0  ...              113803   53.1000  C123         S
4         3      Mr    male  35.0  ...              373450    8.0500   NaN         S
..      ...     ...     ...   ...  ...                 ...       ...   ...       ...
413       3      Mr    male  28.0  ...           A.5. 3236    8.0500   NaN         S
414       1    None  female  39.0  ...            PC 17758  108.9000  C105         C
415       3      Mr    male  38.5  ...  SOTON/O.Q. 3101262    7.2500   NaN         S
416       3      Mr    male  28.0  ...              359309    8.0500   NaN         S
417       3  Master    male  28.0  ...                2668   22.3583   NaN         C

[1309 rows x 10 columns]

In [ ]:
v = datas["Ticket"].value_counts()
# v
def ticket(t):
    global v
    return v[t]
datas["Ticket"].apply(ticket)

0      1
1      2
2      1
3      2
4      1
      ..
413    1
414    3
415    1
416    1
417    3
Name: Ticket, Length: 1309, dtype: int64

In [ ]:
datas = datas.drop(["Cabin"],axis = 1)

In [ ]:
# 如果想要重製index: datas.reset_index(drop=True)
datas

     Pclass    Name     Sex   Age  ...  Parch              Ticket      Fare  Embarked
0         3      Mr    male  22.0  ...      0           A/5 21171    7.2500         S
1         1     Mrs  female  38.0  ...      0            PC 17599   71.2833         C
2         3    Miss  female  26.0  ...      0    STON/O2. 3101282    7.9250         S
3         1     Mrs  female  35.0  ...      0              113803   53.1000         S
4         3      Mr    male  35.0  ...      0              373450    8.0500         S
..      ...     ...     ...   ...  ...    ...                 ...       ...       ...
413       3      Mr    male  28.0  ...      0           A.5. 3236    8.0500         S
414       1    None  female  39.0  ...      0            PC 17758  108.9000         C
415       3      Mr    male  38.5  ...      0  SOTON/O.Q. 3101262    7.2500         S
416       3      Mr    male  28.0  ...      0              359309    8.0500         S
417       3  Master    male  28.0  ...      1                2668   22.3583         C

[1309 rows x 9 columns]

In [ ]:
datas = pd.get_dummies(datas)
datas

     Pclass   Age  SibSp  ...  Embarked_C  Embarked_Q  Embarked_S
0         3  22.0      1  ...           0           0           1
1         1  38.0      1  ...           1           0           0
2         3  26.0      0  ...           0           0           1
3         1  35.0      1  ...           0           0           1
4         3  35.0      0  ...           0           0           1
..      ...   ...    ...  ...         ...         ...         ...
413       3  28.0      0  ...           0           0           1
414       1  39.0      0  ...           1           0           0
415       3  38.5      0  ...           0           0           1
416       3  28.0      0  ...           0           0           1
417       3  28.0      1  ...           1           0           0

[1309 rows x 943 columns]

In [ ]:
# iloc: 取列(依實際是第幾列), loc:(依列編號)
# [第一列,第二列...]
x_train = datas.iloc[:len(train_df)]
x_predict = datas.iloc[len(train_df):]
y_train = train_df["Survived"]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
clf = RandomForestClassifier(random_state=0)
params = {
    "n_estimators":range(20, 100),
    "max_depth":range(5, 10)
}
search = GridSearchCV(clf, params, cv=10, n_jobs=-1)
search.fit(x_train, y_train)
print(search.best_params_)
print(search.best_score_)

In [ ]:
# 組合式模型
# 1.平行式(Bagging)
# 2.序列式(Boosting):一直去比照"前"一個模型做調整 eg.D→clf1→對+0.5/錯-4→clf2→對+0.5/錯-4→clf3→......

# 隨機森林(基底為決策樹演算法): 在每個clf中，隨機放棄一點資料，使每個clf略有不同
# n_estimators
# max_depth

# 交叉驗證(Cross validation): 將一份資料切成若干等份，相互訓練驗證

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np
clf = RandomForestClassifier(n_estimators=25,max_depth=7,random_state=0) # random_state=0使隨機的方式每次都固定
scores = cross_val_score(clf,x_train,y_train,cv=10,n_jobs=-1) # n_jobs=-1 使用電腦裡面最多核心一起跑動 eg.雙核跑2 四核跑4
print(scores)
print(np.average(scores))

[0.84444444 0.80898876 0.78651685 0.86516854 0.80898876 0.75280899
 0.78651685 0.75280899 0.84269663 0.85393258]
0.810287141073658

In [ ]:
# 測試出來此值相對效果佳n_estimators=77, max_depth=7
clf = RandomForestClassifier(n_estimators=77, max_depth=7)
clf.fit(x_train, y_train)
pre = clf.predict(x_predict)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("titanic_rf.csv", encoding="utf-8", index=False)
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
pd.DataFrame({
    "Name":datas.columns,
    "Importance":clf.feature_importances_
})

                 Name  Importance
0              Pclass    0.066738
1                 Age    0.030666
2               SibSp    0.021155
3               Parch    0.018311
4                Fare    0.071869
..                ...         ...
938  Ticket_W/C 14208    0.000000
939  Ticket_WE/P 5735    0.000014
940        Embarked_C    0.022249
941        Embarked_Q    0.003194
942        Embarked_S    0.013512

[943 rows x 2 columns]

In [ ]:
# Min-Max演算法
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
datas_scale = pd.DataFrame(scaler.fit_transform(datas), columns=datas.columns)
x_train_scale = datas_scale.iloc[:len(train_df)]
x_predict_scale = datas_scale.iloc[len(train_df):]

In [ ]:
# KNN演算法
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
params = {
    "n_neighbors":range(5, 100)
}
search = GridSearchCV(clf, params, cv=10, n_jobs=-1)
search.fit(x_train_scale, y_train)
print(search.best_params_)
print(search.best_score_)

{'n_neighbors': 22}
0.8204868913857679

In [ ]:
clf = search.best_estimator_
pre = clf.predict(x_predict_scale)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("titanic_knn.csv", encoding="utf-8", index=False)
df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]